<article class="pet">
  <div class="name">
    <img src="{{imgurl}}" alt="{{petname}}" style="width:250px;height:200px;">
    {{petname}}, {{sex}} <br>
    Age: {{age}} years<br>
    {{type}} - {{breed}} <br>
    {{description}} <br>
  </div>
</article>